body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(19, 166, 224);
    color: rgb(43, 82, 126);
    text-align: center;
    padding: 10px;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: rgb(67, 98, 133);
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}
